<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</head>
<body>
    <div id="app" >
        文本插值：{{item_data}}
        <div>使用v-htm标签输入html代码<span v-html="Html"></span></div>
        <div v-bind:class="color">测试Bind方法</div>
        <div>{{ message.split('').reverse().join('') }}</div>
        <div >不同方式的反转:{{reversed_message}}</div>
        <div v-bind:id="'list-'+id"></div>
        <p v-if="condition">你能否看到我取决于v-if中的condition</p>
        <div  id="click1"  @click="click1" :class="{active: isActive, text_danger: hasError}"style="width: 200px;height: 200px; text-align: center;line-height: 100px;">嵌套点击1
            <div class = "click2" @click.stop = "click2">嵌套点击2</div>
        </div>
        <div>
            <p>
                填入一个动态值
                <input type="number"  v-model="ask_number">
            </p>
            <p>{{answer}}</p>
        </div>
       <div v-bind:style="style_model">绑定style</div>
       <template v-if="condition">
           <div>
               <h1>标题</h1>
               <p>内容</p>
               <p>结尾</p>
           </div>
       </template>
       <template v-if="input_type === 'money'">
           <div>
               <label>金钱:</label>
               <input type="text" key="money">
               
           </div>
       </template>
       <template v-else>
           <div>
               <label>肉体:</label>
               <input type="text" key="body">
           </div>
       </template>
       <button @click = "button" >点击更改类型</button>
       <ul>
           <li v-for="(item, index) in items" :key="index">{{item_data}}---{{index}}---{{item.message}}</li>
       </ul>
       <div>
           <button @click="number +=1">加1</button>
           <p>数学计数{{number}}</p>
           <button @click = "action">弹出来..</button>
           <button @click = "action2('行动起来',$event)">带着信息弹出来</button>
       </div>
       <input v-model="input_txt" type="text">
       <p>输入的内容是:{{input_txt}}</p>
       <input v-model = "check_number" type="checkbox" id = "1"value="1">
       <input v-model = "check_number" type="checkbox" id = "2"value="2">
       <input v-model = "check_number" type="checkbox" id = "3"value="3">
       <p>选择项是:{{check_number}}</p>
       <select v-model="select">
           <option disabled value="">请选择</option>
           <option value="A">A</option>
           <option value="B">B</option>
           <option value="C">C</option>
       </select>
       <p>选择项是:{{select}}</p>
    </div>
    
</body>
<script type="text/javascript">
    var message_data = { 
        input_txt :"",
        check_number:[], 
        select:"",
        item_data : "监听数据相应--mvvm",
        Html : '<span style="color:red">这是一个植入的html代码</span>',
        color: 'red',
        message: "反转",
        id: 11,
        condition:true,
        isActive:true,
        answer:"可以尝试填入0，有意外惊喜哦",
        ask_number:"",
        hasError: true,
        number: 0,
        style_model:{
            background:'red'
        },
        condition:true,
        input_type :"money",
        items:[
            {message:"列表1"},
            {message:"列表2"}
        ]
};
    var vue = new Vue({
        el:"#app",
        data:message_data,
        computed:{
            reversed_message:function(){
                return this.message.split('').reverse().join('')
            }
        },
        watch:{
            ask_number:function(newNumber,oldNumber){
                this.answer="我想想给你啥惊喜"
                this.debouncedGetAnswer()
            }
        },
        methods: {
            action2:function(message,event){
                alert(message)
                if(event){
                        alert(event.target.tagName)
                    }
            },
            action:function(event){
                    alert("吓死你！！！")
                    if(event){
                        alert(event.target.tagName)
                    }
            },
            button:function(){
                if(this.input_type === "money"){
                    this.input_type = "body"
                }else{
                    this.input_type = "money"
                }
            },
            getAnswer:function(){
                console.log(this.ask_number);
                if(this.ask_number === ""){
                    this.answer="可以尝试填入0，有意外惊喜哦"
                    return
                }
                if(this.ask_number!=0){
                    this.answer = "啥也没有！！！"
                    return
                }
                this.answer = "正在打包........"
                var vm =this
                axios.get("https://yesno.wtf/api")
                    .then(function(response){
                        vm.answer = _.capitalize(response.data.answer)
                    })
                    .catch(function(error){
                        vm.answer = "Errooooooooooooor"
                    })
            },
            click1:function () {
                this.answer="我想想给你啥惊喜111"
                console.log("点击事件1");
            },
            click2:function(){
                    console.log("点击事件2");
            }
        },
        beforeCreate() {
            console.log("beforeCreate");
        },
        created() {
            console.log("created");
            this.debouncedGetAnswer = _.debounce(this.getAnswer,500)
        },
        beforeMount() {
            console.log("beforeMount");
        },
        mounted() {
            console.log("mounted");
        },
        beforeUpdate() {
            console.log("beforeUpdate");
        },
        updated() {
            console.log("update");
        },
        beforeDestroy() {
            console.log("beforeDestroy");
        },
        destroyed() {
            console.log("destroyed");
        }
    });
    message_data.item_data = "遵循MVVM模式"
    vue.$watch("item_data",function(newValue,oldValue){
        console.log(newValue,oldValue)
    })
    
    message_data.item_data = "遵循MVVM模式====="
    console.log(vue.item_data==message_data.item_data)
</script>
<style type="text/css">
.red{
    color: red;
    font-size: 100px;
}
#click1{
    font-size: 30px;
}
.click2{
    font-size: 20px;
}
.active{
    background: #ffff43;
}
</style>
</html>